<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="width:500px; margin:0 auto">
	<form method="POST" action="">
          {{ form.hidden_tag() }}
          <fieldset>
          	<legend>SIGN IN TODAY</legend>
          	<div>
          		{{form.email.label}}
          		{{form.email(class="form-control")}}
          	</div>
          	<div style="margin-bottom: 20px">
          		{{form.password.label}}
          		{{form.password(class="form-control")}}
          	</div>
          </fieldset>
        <div>
        	{{form.submit(class='btn btn-primary')}}
        </div>  
		
	</form>
	<div>
		<small>
			Don't have an account? <a href="{{ url_for('register') }}">Sign Up</a>
		</small>
	</div>


</body>
</html>